FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=sayan_secret_event_2026
DATABASE_URL=mysql+pymysql://avnadmin:AVNS_oD4oOdf3lN5oW_-pYvS@mysql-60c0f16-sayansarkar121a-2076.b.aivencloud.com:15234/event_management
